.produto-container{
    border: 1px solid yellow;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;

}

.produtos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}