
.imagemEnzo{
    height: 220px;
    width: 150px;
}

.imagemValentina{
    height: 200px;
    width: 150px;
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;

}

.dados-digitados{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.labels{
    font-size: 25px;
}

.div-resultado-anos{
    margin-top: 2rem;
    width: 250px;
    height: 100px;
    background-color: aquamarine;
    border-radius: 20px;
}

.resultado-anos{
    font-size: 30px;
    font-family: fantasy;
    font-weight: 600;
    background-color: aquamarine;
    color: black;
}